@{
    ViewData["Title"] = "Home Page";
    <!-- int i = 0;
    var dictionaries = ViewBag.data;
    var array = ViewBag.mean;
    var countPart = ViewBag.countPart;
    int c = 0; -->
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="~/css/homenew.css">
</head>
<body>
    <div class="banner">
        <div class="content">
            <h1>Từ Điển Đa Ngôn Ngữ</h1>
            <p>Từ điển đa ngôn ngữ mang đến cho người dùng thông tin của hàng loạt từ ngữ đến từ nhiều ngôn ngữ khác 
                .<br> Bắt đầu tra từ của bạn !!! </p>
            <div class="bannerButton">
                <button type="button"><span></span>Tra Từ</button>
                <button type="button"><span></span>Dịch từ</button>
            </div>
        </div>
    </div> 
</body>
</html>